.contact{
    margin-left: 13%;
}
.contact___wrapper{
    display: flex;
    gap: 5rem;
    margin-top: -10%;
}
.tit{
    margin-left: 30%;
    margin-top: 5%;
}
/* .contact__container{
    display: flex;
    justify-content: space-between;
    place-items: center;

} */
/* .contact__wrapper{
    width: fit-content;
    display: flex;
    gap: 2rem;
} */

.contact__wrapper a {
   background: var(--color-primary);
   font-size: 2rem;
   border: 2px solid transparent;
   transition: var(--transition);
   border-radius: 1.5rem;
  
}

.contact__wrapper a:hover{
    background: transparent;
    border-color: var(--color-gray-100);
}

/* media (small screens) */

@media screen and (max-width: 600px) {
    .contact__wrapper{
        gap: 1.5rem;
    }
    .contact__wrapper a{
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
}